<div>

	<% map_addr = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.9592493833907!2d-106.13982698512031!3d28.690865582394757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ea426ae70d30b9%3A0xa9917a6d3647e6bc!2sCiudadano+Jos%C3%A9+Manzano%2C+Unidad%2C+Juventud+Nte%2C+31124+Chihuahua%2C+Chih.!5e0!3m2!1ses!2smx!4v1480908261734' %>	
	<iframe style="position: relative; height: 100%; width: 100%; border: none" src= "<%= map_addr %>" allowfullscreen></iframe>
</div>