<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<!-- Header -->
<section id="header">
	<div class="inner" id="logo-text-container" >
	   	<img class="img-fluid" id="main_logo" src="/assets/logo_inmo_color.png"  alt="" />
		<div id="main_logo_text">
			<p style="font-family:pantone; color:rgb(143, 143, 143); ">SML</p>
			<p style="font-family:pantone-bold; color:rgb(49, 63, 134);  ">BIENES RAICES</p>
		</div>
		<div id="button-more" class="actions">
			<a href="#one" class="button scrolly ">Mas</a>
		<div>	
	</div>		
</section>
<!-- One -->
<section id="one" class="main style2">
	<div class="container">
		<div class="row 200%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Misión</h2>
					</header>
					<p>Ofrecer un servicio ágil, eficiente, siempre apegado a la satisfacción del cliente en el ramo inmobiliario y de construcción, utilizando las tecnologías mas modernas de promoción y un trato humano.</p>
				</div>
				<div class="6u$ 12u$(medium) important(medium)">
					<span class="image fit"><img src="/assets/family1.jpg" alt="" /></span>
				</div>
			</div>
		</div>
</section>
<!-- Two -->
<section id="two" class="main style1">
<div class="container">
	<div class="row 200%">
		<div class="6u 12u$(medium)">
			<span class="image fit"><img src="/assets/family1.jpg" alt="" /></span>
		</div>
		<div class="6u$ 15u$(medium)">
			<header >
				<h2>Visión</h2>
				</header>
				<p>Convertirnos en líderes del mercado por nuestro servicio moderno, ágil y por buscar siempre dar un plus en el servicio al cliente.</p>
			</div>
		</div>
	</div>
</section>
<!-- Two -->
<section id="two" class="main style2">
<div class="container">
	<div class="row 200%">
		<div class="6u 12u$(medium)">
			<span class="image fit"><img src="/assets/family1.jpg" alt="" /></span>
		</div>
		<div class="6u$ 15u$(medium)">
			<header >
				<h2>Valores</h2>
				</header>
				<ul class="list">
					<li>Ética</span></li>
					<li>Servicio al cliente.</span></li>
					<li>Profesionalismo</span></li>
					<li>Calidez Humana</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Footer -->
<section id="header"  >
	<ul class="icons row 30%">
		<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		<li><%= link_to "Admin", new_user_session_path , toggle: :collapse %></li>
        <li><%= link_to "Registrar", new_user_registration_path, toggle: :collapse %></li>
	</ul>
</section>

