@font-face {
font-family: 'pantone-bold';
font-weight: bold;
src: url("Panton-BlackCaps.otf") format("opentype");
}

@font-face {
font-family: 'pantone';
src: url("Panton-LightCaps.otf") format("opentype");
}